@font-face {
  font-family: "IBM Plex Serif";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/IBMPlexSerif/IBMPlexSerif-Regular.ttf"), local("ttf");
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Serif";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/IBMPlexSerif/IBMPlexSerif-Bold.ttf"), local("ttf");
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/IBMPlexMono/IBMPlexMono-Regular.ttf"), local("ttf");
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/IBMPlexMono/IBMPlexMono-Bold.ttf"), local("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Maple Mono";
  font-style: mono;
  font-weight: 400;
  src: url("fonts/MapleMono/MapleMono-Regular.ttf"), local("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Maple Mono";
  font-style: mono;
  font-weight: 700;
  src: url("fonts/MapleMono/MapleMono-Bold.ttf"), local("ttf");
  font-display: swap;
}
