@font-face {
  font-family: "Maple Mono";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/MapleMono/MapleMonoNormal-Regular.ttf"), local("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Maple Mono";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/MapleMono/MapleMonoNormal-Bold.ttf"), local("ttf");
  font-display: swap;
}
