$bg-0: #EFE4D2;
$bg-1: darken($bg-0, 10%);
$bg-2: darken($bg-1, 25%);

$text-0: darken($bg-0, 100%);
$text-1: darken($bg-0, 65%);

:root.light {
  --text-0: #{$text-0};
  --text-1: #{$text-1};

  --bg-0: #{$bg-0};
  --bg-1: #{$bg-1};
  --bg-2: #{$bg-2};

  --border-color: var(--bg-2);

  --primary-color: #254D70;
  --hover-color: white;

  // invert colour on hover for consistency
  .social :hover {
    filter: invert(1);
  }
}

;
