.toc-container {
  .toc-title {
    &:before {
      content: "↳";
    }
  }

  .toc-list {
    display: block;
    padding-left: 10px;
    list-style: none;

    li {
      list-style: none;

      >a {
        border-bottom: none;
      }

    }
  }
}
