.toc-container {
  margin-bottom: 2rem;

  .toc-title {
    &:before {
      content: "↳ ";
    }
  }

  .toc-list {
    display: block;
    color: var(--text-1);
    padding-left: 10px;
    font-size: 90%;
    list-style: none;

    li {
      list-style: none;

      >a {
        border-bottom: none;
      }

      ul {
        margin-left: -0.8rem;
      }
    }
  }
}
