@font-face {
  font-family: "IBM Plex Serif";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/IBMPlexSerif/IBMPlexSerif-Regular.ttf"), local("ttf");
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Serif";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/IBMPlexSerif/IBMPlexSerif-Bold.ttf"), local("ttf");
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/IBMPlexSans/IBMPlexSans-Regular.ttf"), local("ttf");
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/IBMPlexSans/IBMPlexSans-Bold.ttf"), local("ttf");
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/IBMPlexMono/IBMPlexMono-Regular.ttf"), local("ttf");
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/IBMPlexMono/IBMPlexMono-Bold.ttf"), local("ttf");
  font-display: swap;
}

@font-face {
  font-family: "W95FA";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/w95fa/w95fa.woff") format("woff");
  font-display: swap;
}
