---
import { Image } from "astro:assets";

import animatedFire from "../../assets/gifs/animated-fire.gif";
import "../../styles/fonts.css";
---

<html lang="en">
  <head>
    <title>NUTTYCREAM</title>
  </head>
  <body>
    <h1 class="title">WELCOME FRIENDS TO THE NUTTYZONE BY THE NUTTYCREAM</h1>
    <Image src={animatedFire} alt="fire lul" />
  </body>
</html>
<style>
  body {
    background-color: black;
    color: white;
  }

  .title {
  }
</style>
