---
// Welcome to Astro! Everything between these triple-dash code fences
// is your "component frontmatter". It never runs in the browser.
console.log("This runs in your terminal, not the browser!");
---

<html>
  <body>
    <div class="prompt">Hello, World!</div>
  </body>
</html>
<style>
  body {
    display: grid;
    background: black;
  }

  .prompt {
    align-items: center;
    text-align: center;
    color: white;
  }
</style>
