---
// Welcome to Astro! Everything between these triple-dash code fences
// is your "component frontmatter". It never runs in the browser.
console.log("This runs in your terminal, not the browser!");
---

<html>
  <body>
    <h1 class="prompt">Welcome...</h1>
  </body>
</html>
<style>
  body {
    background: black;
  }

  .prompt {
    position: absolute;
    left: 50%;
    top: 50%;
    color: white;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
</style>
