<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="johnnacion" />
    <meta property="og:url" content="http://johnnacion.dev" />
    <meta property="og:image" content="{{ site_url }}images/pfp.jpg" />
    <meta property="og:description" content='if "okay but who asked" was a website'/>
    <link rel="shortcut icon" type="image/x-icon" href="{{ site_url }}favicon.ico">
    <title>{{ title }}</title>
  </head>
  <body>
    <div class="container">
      <header>
        {% include "header" %}
      </header>

      {% for post in sections.posts | sort(attribute="date",reverse=true) %}
      <li class="post">
        <a class="post-title" href="{{ post.url }}" title="{{ post.title }}">
          {{ post.title | truncate(length=30) }}
        </a>
        {% if post.date %}
        <span class="post-date">
          {{ post.date }}
        </span>
        {% endif %}
      </li>
      {% endfor %}

      <div class="content">
        {{ content | safe }}
      </div>
    </div>
    <script src="{{ site_url }}assets/vim.js"></script>
  </body>
</html>
