{% extends "base.html" %}

{% block main_content %}
    {{ post_macros::home_page(section=section) }}

    {% set projects_section = get_section(path="projects/_index.md") %}
    <h1>Cool projects</h1>
    {% if projects_section %}
        {{ post_macros::cards_posts(pages=projects_section.pages) }}
    {% endif %}

    <!--
    {% set posts_section = get_section(path="posts/_index.md") %}
    <h1>Recent ramblings</h1>
    {% if posts_section %}
    {% for post in posts_section.pages %}
    <div class="post-item">
        <a href="{{ post.permalink | safe }}" class="post-title">{{ post.title }}</a>
         <time class="post-date">{{ post.date | date(format="%m-%d") }}</time> 
        {% if post.description %}
        <div class="post-description">{{ post.description }}</div>
        {% elif post.summary %}
        <div class="post-description">{{ post.summary | safe }}</div>
        {% endif %}
        </div>
        {% endfor %}
    {% endif %}

    {% set all_tags = get_taxonomy(kind="tags") %}
    <h1>Tags</h1>
    <div class="tags">
    {% if all_tags %}
        {% for term in all_tags.items %}
            <a href="{{ term.permalink | safe }}">{{ term.name }}</a>{% if not loop.last %}, {% endif %}
        {% endfor %}
    </>
    {% endif %}
    -->

<footer>
    <hr>
    <p>made with zola</p>
</footer>

{% endblock main_content %}

