---
import "../styles/global.css";
import "../styles/fonts.css";
const { frontmatter } = Astro.props;
---

<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <title>{frontmatter.title}</title>
  </head>
  <body>
    <div class="content">
      <slot />
    </div>
  </body>
</html>

<style>
  body {
    background-color: black;
    color: white;
    font-family: "IBM Plex Serif";
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .container {
  }

  .content {
    max-width: 800px;
    width: 100%;
    padding: 40px;
    overflow: hidden;
  }

  .content :global(h1),
  .content :global(h2),
  .content :global(h3) {
    font-size: 1.2rem;
    color: limegreen;
  }

  .content :global(p) {
    line-height: 1.6;
  }

  .content :global(a) {
    text-decoration: none;
  }

  .content :global(a:hover) {
    text-decoration: underline;
  }

  .content :global(code) {
    background-color: darkgray;
  }

  .content :global(pre) {
    padding: 1px;
  }
</style>
