:root {
  --bg:           #000000;
  --bg-alt:       #1e2124;
  --bg-highlight: #3c4048;
  --fg:           #ffffff;
  --grey:         #7b8496;
  --blue:         #5ea1ff;
  --green:        #5eff6c;
  --cyan:         #5ef1ff;
  --red:          #ff6e5e;
  --yellow:       #f1ff5e;
  --magenta:      #ff5ef1;
  --pink:         #ff5ea0;
  --orange:       #ffbd5e;
  --purple:       #bd5eff;
}


@font-face {
  font-family: 'CommitMono';
  src: url('./fonts/CommitMono-400.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'CommitMono';
  src: url('./fonts/CommitMono-700.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg);
  color: var(--fg);
  font-family: CommitMono;
  font-size: 0.9rem;
}

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

hr {
  width: 100%;
  color: green;
}

.container {
  max-width: 520px;
  margin: auto;
  padding-top: 50px;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin-bottom: 16px;
}

.nav-link {
  font-weight: bold;
  color: var(--blue);
  text-decoration: none;
}

.nav-item ul {
  list-style: none;
  padding: 0;
  margin: 4px 0 0 12px;
}

.heading-link {
  color: var(--grey);
  text-decoration: none;
}

.heading-link:hover {
  color: var(--cyan);
}


a {
  color: var(--green);
  text-decoration: none;
}

a:hover {
  color: var(--cyan);
}

pre {
  background-color: var(--bg-alt);
  padding: 10px;
  overflow-x: auto;
}

code {
  font-family: CommitMono;
  font-size: 0.8rem;
  color: var(--orange);
}
