body {
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 10px;

  h1 {
    font-family: "ZenDots";
    font-size: 5rem;
    text-align: center;
    margin-bottom: 5px;
  }
  .scroll-thing {
    width: 100%;
    overflow: hidden;
    color: green;
    border: 1px solid limegreen;
  }
  .scroll-text {
    white-space: nowrap;
    animation: scroll 12s linear infinite;
    font-family: "ZenDots";
    font-style: italic;
    font-size: 24px;
    font-weight: bold;
  }
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  img {
    width: 100px;
    height: 45px;
  }
}

.container {
  max-width: 800px;
  border-left: 1px solid transparent;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
