body {
  background-color: black;
  color: white;
  font-family: "IBM Plex Sans";
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.container {
  max-width: 800px;
  border-left: 1px solid transparent;
  border-image: linear-gradient(black 0%, limegreen 20%, black 100%) 1;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: baseline;

  h1 {
    font-size: 1.2rem;
    color: limegreen;
  }

  a {
    font-size: 0.9rem;
    border-bottom: none !important;
    color: limegreen;
  }
}

.links {
  display: flex;
  gap: 10px;
}

.content {
  width: 100%;
  padding: 40px;
  overflow: hidden;
}

.content h1,
.content h2,
.content h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: limegreen;
}

.content p {
  line-height: 1.5rem;
  margin-bottom: 0.7rem;
}

.content a {
  text-decoration: none !important;
  color: limegreen;
}

.content a:hover {
  border-bottom: 1px solid lightcoral;
}

.content code {
  background-color: darkgray;
}

.content pre {
  padding: 1px;
}

.content ul {
  list-style: none;
  padding-left: 0;
}

.content li {
  display: flex;
}

.content ul li::before {
  content: "↳ ";
  opacity: 0.3;
}

.content ul p {
  margin-top: 0;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
}
